.yellowBg {
  background-color: rgb(170, 170, 70);
}
.white {
  color: white;
}
.yellow {
  color: yellow;
}

.p15px {
  padding: 15px;
}
.p15px_h {
  padding-left: 15px;
  padding-right: 15px;
}

.darkBg {
  background-color: rgb(26, 26, 26);
}

.App {
  height: 100%;
  color: white;
}
.App > div,
#resultCount {
  width: 100%;
  max-width: 1000px;
}

.flex {
  display: flex;
}
.flexCol {
  flex-direction: column;
}

.justifyBetween {
  justify-content: space-between;
}
.justifyCenter {
  justify-content: center;
}
.alignCenter {
  align-items: center;
}

.pointer:hover {
  cursor: pointer;
  filter: brightness(1.2);
}
.noSelect {
  user-select: none;
}
